

*{
 
padding: 1rem;
   font-family: "Times New Roman", Times, serif;
 
}


body{
    font-size: 1rem;
    padding-left: 0;
    
}
h2
{3rem;
color: midnightblue;}

h3{1.5rem;
color: midnightblue;}

nav{
    background-color: dodgerblue;
    min-height: 4rem;
    padding-bottom: 0px;
    padding-left: 0rem;
   
    
}
nav :hover{
  color: black;}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    overflow: hidden;
    
    
   
}

li a {
    display: block;
    color: white;
    font-size: 2rem;
}

li {
    float: left;
}

header{

    border-top-style: solid;
    border-top-color: darkblue;
    border-top-width: 2rem;
    background-image: url("../img/354.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fit;
    background-size: 100% 100%;
    color: darkblue;
    outline-color: white;
    min-height: 4rem;

}


